In [144]:
import pandas as pd
from pathlib import Path

In [145]:
csvpath = Path('../PyBank/budget_data.csv')

In [146]:
budgetDataFrame = pd.read_csv(csvpath)

In [147]:
budgetDataFrame.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [148]:
budgetDataFrame = budgetDataFrame.dropna (how = 'any', axis=0)
budgetDataFrame.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [149]:
print('--------------Financial Analysis----------------')

(totalMonths) = budgetDataFrame.count()[0]
print("Total Months:" + str(totalMonths))

--------------Financial Analysis----------------
Total Months:86

In [150]:
total = sum(budgetDataFrame['Profit/Losses'])
print('Total:' + str(total))

Total:38382578

In [151]:
budgetDataFrame['shifted'] = budgetDataFrame['Profit/Losses'].shift(1)

budgetDataFrame['difference'] = budgetDataFrame['Profit/Losses'] - budgetDataFrame['shifted']

print(budgetDataFrame.head)

<bound method NDFrame.head of         Date  Profit/Losses   shifted  difference
0   Jan-2010         867884       NaN         NaN
1   Feb-2010         984655  867884.0    116771.0
2   Mar-2010         322013  984655.0   -662642.0
3   Apr-2010         -69417  322013.0   -391430.0
4   May-2010         310503  -69417.0    379920.0
..       ...            ...       ...         ...
81  Oct-2016         102685  768450.0   -665765.0
82  Nov-2016         795914  102685.0    693229.0
83  Dec-2016          60988  795914.0   -734926.0
84  Jan-2017         138230   60988.0     77242.0
85  Feb-2017         671099  138230.0    532869.0

[86 rows x 4 columns]>

In [152]:
budgetDataFrame = budgetDataFrame.dropna (how = 'any', axis=0)

In [153]:
print(budgetDataFrame.head)

<bound method NDFrame.head of         Date  Profit/Losses   shifted  difference
1   Feb-2010         984655  867884.0    116771.0
2   Mar-2010         322013  984655.0   -662642.0
3   Apr-2010         -69417  322013.0   -391430.0
4   May-2010         310503  -69417.0    379920.0
5   Jun-2010         522857  310503.0    212354.0
..       ...            ...       ...         ...
81  Oct-2016         102685  768450.0   -665765.0
82  Nov-2016         795914  102685.0    693229.0
83  Dec-2016          60988  795914.0   -734926.0
84  Jan-2017         138230   60988.0     77242.0
85  Feb-2017         671099  138230.0    532869.0

[85 rows x 4 columns]>

In [154]:
averageDelta = sum(budgetDataFrame['difference']) / totalMonths

print(averageDelta)

-2288.1976744186045

In [155]:
maxDelta = budgetDataFrame['difference'].max()
print('Greatest increase:' + str(maxDelta))

Greatest increase:1926159.0

In [156]:
minDelta = budgetDataFrame['difference'].min()

print('Greatest decrease: ' + str(minDelta))

Greatest decrease: -2196167.0

In [165]:
f = open(r"mydocument.txt", "a")
f.write("This text is added using Append.")


print('--------------Final Answers----------------')

print("Total Months:" + str(totalMonths))
print('Total:' + str(total))
print('Average Change:' + str(averageDelta))
print('Greatest increase:' + str(maxDelta))
print('Greatest decrease: ' + str(minDelta))

f.close()

--------------Final Answers----------------
Total Months:86
Total:38382578
Average Change:-2288.1976744186045
Greatest increase:1926159.0
Greatest decrease: -2196167.0