In [2]:
import pandas as pd
from pathlib import Path

csvpath = Path('../PyBank/budget_data.csv')


budgetDataFrame = pd.read_csv(csvpath)

budgetDataFrame.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
budgetDataFrame = budgetDataFrame.dropna (how = 'any', axis=0)
budgetDataFrame.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
print('--------------Financial Analysis----------------')

(totalMonths) = budgetDataFrame.count()[0]
print("Total Months:" + str(totalMonths))


total = sum(budgetDataFrame['Profit/Losses'])
print('Total:' + str(total))

--------------Financial Analysis----------------
Total Months:86
Total:38382578

In [5]:

budgetDataFrame['shifted'] = budgetDataFrame['Profit/Losses'].shift(1)

budgetDataFrame['difference'] = budgetDataFrame['Profit/Losses'] - budgetDataFrame['shifted']

print(budgetDataFrame.head)

budgetDataFrame = budgetDataFrame.dropna (how = 'any', axis=0)
print(budgetDataFrame.head)

averageDelta = sum(budgetDataFrame['difference']) / totalMonths

print(averageDelta)

maxDelta = budgetDataFrame['difference'].max()
print('Greatest increase:' + str(maxDelta))

minDelta = budgetDataFrame['difference'].min()

print('Greatest decrease: ' + str(minDelta))

<bound method NDFrame.head of         Date  Profit/Losses   shifted  difference
0   Jan-2010         867884       NaN         NaN
1   Feb-2010         984655  867884.0    116771.0
2   Mar-2010         322013  984655.0   -662642.0
3   Apr-2010         -69417  322013.0   -391430.0
4   May-2010         310503  -69417.0    379920.0
..       ...            ...       ...         ...
81  Oct-2016         102685  768450.0   -665765.0
82  Nov-2016         795914  102685.0    693229.0
83  Dec-2016          60988  795914.0   -734926.0
84  Jan-2017         138230   60988.0     77242.0
85  Feb-2017         671099  138230.0    532869.0

[86 rows x 4 columns]>
<bound method NDFrame.head of         Date  Profit/Losses   shifted  difference
1   Feb-2010         984655  867884.0    116771.0
2   Mar-2010         322013  984655.0   -662642.0
3   Apr-2010         -69417  322013.0   -391430.0
4   May-2010         310503  -69417.0    379920.0
5   Jun-2010         522857  310503.0    212354.0
..       ...            ...       ...         ...
81  Oct-2016         102685  768450.0   -665765.0
82  Nov-2016         795914  102685.0    693229.0
83  Dec-2016          60988  795914.0   -734926.0
84  Jan-2017         138230   60988.0     77242.0
85  Feb-2017         671099  138230.0    532869.0

[85 rows x 4 columns]>
-2288.1976744186045
Greatest increase:1926159.0
Greatest decrease: -2196167.0

In [6]:
f = open("summaryOutput.txt", "a")


print('--------------Final Answers----------------', file=f)

print("Total Months:" + str(totalMonths), file=f)
print('Total:' + str(total), file=f)
print('Average Change:' + str(averageDelta), file=f)
print('Greatest increase:' + str(maxDelta), file=f)
print('Greatest decrease: ' + str(minDelta), file=f)




f.close()

In [ ]:
#yeah ngl, didn't get the .txt ouput part going. soz. Still a little behind with work.